.grid-container {
    display: grid;
    grid-template-areas: 
    "header header header"
    "menu main main"
    "footer footer footer";
}


header {
    grid-area: header;
    color:white;
    height: 8vw;
    text-align: center;
    font-size: 50px;
    background-image: url(../imgs/istockphoto-963448782-612x612.jpg);
    border: 3px solid black;
    align-items: center;
    justify-content: center;
}

menu {
    grid-area: menu;
    background-color: black;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    color: white;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 8px;
    background-color: brown;
}

footer {
    grid-area: footer;
    background-image: url(../imgs/istockphoto-963448782-612x612.jpg);
    height: 4vw;
    color: white;
}

.img {
    width: 20vw;
}
.titulo {
    padding: 17px;
}

.pie {
    align-items: center;
    text-align: center;
    padding: 15px;
    font-size: 25px;
}


.submenus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 12px;
    padding: 5px;
}

.características {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px;
    border: 0px;
}

.elementos {
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
}

.comprar {
    width: 60px;
    height: 20px;
}
.h3 {
    background-color: black;
    width: 80px;
    padding: 0px;
    margin left: 0px;
    margin-top: 0px;
}